---
import type { CollectionEntry } from "astro:content";

import GithubIcon from "@astropub/icons/GitHubLogo";
import StarIcon from "@astropub/icons/StarFilled";

import BrandLogo from "@/components/brand/BrandLogo.astro";
import { cached } from "@/utils/cache";
import { getStars, isGithubUrl, parseGithubUrl } from "@/utils/github/helpers";

interface Props {
  project: CollectionEntry<"projects">;
}

const { project } = Astro.props;

const {
  subtitle,
  links: { repository, npm },
} = project.data;

let stars: number | null = null;
if (repository && isGithubUrl(repository)) {
  const { owner, repo } = parseGithubUrl(repository);
  stars = await cached(`stars/${repo}`, () => getStars(owner, repo));
}
---

<ul class="reel scrollbar-thin ff-pixelated fs-pixelated-small">
  {
    subtitle && (
      <li>
        <span>{subtitle}</span>
      </li>
    )
  }
  {
    stars && (
      <li>
        <StarIcon size="12" class="color-amber" />
        <span>{stars} stars</span>
      </li>
    )
  }
  {
    repository && (
      <li>
        <a class="hoverable" href={repository} title="Visit Repository">
          <GithubIcon size="12" />
          <span>Github</span>
        </a>
      </li>
    )
  }
  {
    npm && (
      <li>
        <a
          class="hoverable"
          href={npm}
          title="Visit NPM"
          target="_blank"
          rel="noopener noreferrer"
        >
          <BrandLogo brand="npm" size="12" />
          <span>NPM</span>
        </a>
      </li>
    )
  }
</ul>

<style lang="scss">
  ul {
    --gutter: 1ch;

    margin-bottom: var(--space-fluid-s-m);
    padding-block: 15px;

    text-transform: uppercase;

    border-block: 1px dashed var(--color-text-subdued);
    scroll-padding: 0 2ch;
  }

  li {
    display: flex;
    align-items: center;
    gap: 1ch;
    white-space: nowrap;
    line-height: 100%;

    & > a {
      display: flex;
      align-items: center;
      gap: 1ch;
    }

    & + &::before {
      content: "|";
      color: var(--color-text-subdued);
      padding-inline: 0.25ch;
    }
  }
</style>
