---
import type { Project } from "@/helpers/project";
import { cached } from "@/utils/cache";
import { getStars, isGithubUrl, parseGithubUrl } from "@/utils/github/helpers";

import ProjectCardHeader from "./ProjectCardHeader.astro";
import ProjectCardInfoLine from "./ProjectCardInfoLine.astro";

interface Props {
  project: Project;
  fullsize?: boolean;
}

const { project, fullsize = false } = Astro.props;

const {
  links: { repository },
} = project.data;

let stars: number | undefined;
if (repository && isGithubUrl(repository)) {
  const { owner, repo } = parseGithubUrl(repository);
  stars = await cached(`stars/${repo}`, () => getStars(owner, repo)).catch(
    () => undefined,
  );
}
---

<article class="container:inline-size">
  <ProjectCardHeader href={`/${project.slug}/`} {...project.data} />
  <p class="fs-fluid-0 color-secondary">{project.data.description}</p>
  <ProjectCardInfoLine
    slug={fullsize && project.slug}
    stars={stars}
    repository={repository}
  />
</article>

<style>
  p {
    margin-block: 0.5rem;
    max-width: 65ch;
  }
</style>
