---
import { getCollection } from "astro:content";

import Footer from "@/components/Footer.astro";
import Header from "@/components/Header.astro";
import ProjectCard from "@/components/project/ProjectCard.astro";
import Layout from "@/layouts/Layout.astro";
import { AUTHOR } from "@/site.config";
import { titlecase } from "@/utils/text";

import { getTagsFromProjects } from "./_utils";

export async function getStaticPaths() {
  const projects = await getCollection("project");
  const tags = getTagsFromProjects(projects);

  return tags.map(({ tag, projects }) => ({
    params: { tag },
    props: { tag, projects },
  }));
}

const { tag, projects } = Astro.props;
const title = `#${titlecase(tag)} | ${AUTHOR}`;
const description = `Projects tagged with #${tag}`;
---

<Layout title={title} description={description}>
  <Header>{`#${titlecase(tag)}`}</Header>
  <main>
    <ul class="project-list | grid" role="list">
      {
        projects
          .sort((a, b) => a.id.localeCompare(b.id))
          .map((project) => (
            <li class="project-list-item">
              <ProjectCard project={project} fullsize />
            </li>
          ))
      }
    </ul>
  </main>
  <Footer>
    <nav>
      <a
        class="secondary-selectable ff-pixelated fs-pixelated-small"
        href="/tags/">[ View All Tags ]</a
      >
      <nav></nav>
    </nav>
  </Footer>

  <style>
    .project-list {
      --gutter: 1.125rem 1rem;
      --grid-min-item-size: 300px;
    }

    nav {
      display: flex;
      align-items: center;
      justify-content: center;
      padding-block: 1rem;

      a {
        text-transform: uppercase;
      }
    }
  </style>
</Layout>
