---
import { getCollection } from "astro:content";

import Footer from "@/components/Footer.astro";
import Header from "@/components/Header.astro";
import Layout from "@/layouts/Layout.astro";
import { AUTHOR } from "@/site.config";

import { getTagsFromProjects } from "./_utils";

const title = `Tags | ${AUTHOR}`;

const projects = await getCollection("project");
const tags = getTagsFromProjects(projects);
---

<Layout title={title}>
  <Header>Tags</Header>
  <main>
    <ul class="tags | cluster">
      {
        tags
          .sort((a, b) => a.tag.localeCompare(b.tag))
          .map(({ tag, count }) => (
            <li>
              <a href={`/tags/${tag}/`} class="tag">
                <span class="tag__name">
                  <span class="hash">#</span>
                  {tag}
                  <span class="count">( {count} )</span>
                </span>
              </a>
            </li>
          ))
      }
    </ul>
  </main>
  <Footer />
  <Layout />
</Layout>

<style lang="scss">
  .tags {
    --gutter: 1rem;
  }

  .tag {
    display: flex;
    align-items: center;
    gap: 0.25ch;
    text-transform: uppercase;
    transition: color 0.1s ease-in-out;

    &__name {
      display: flex;
      align-items: center;
      gap: 0.5ch;
      font-family: var(--ff-dotmatrix);
      font-size: 0.75rem;
      text-transform: uppercase;
      margin-left: 0.5ch;
      margin-right: 0.25ch;

      .hash {
        font-size: 1.2em;
        font-family: var(--ff-pixelated);
        color: var(--color-text-subdued);
        transition: color 0.2s ease-in-out;
      }

      .count {
        color: var(--color-text-subdued);
      }
    }

    &:is(:hover, :focus-within) {
      color: var(--color-text-highlight);

      .hash {
        color: var(--color-text-highlight);
      }
    }
  }
</style>
