---
import "@/styles/tokens.css";
import "@/styles/app.css";

import { AUTHOR } from "@/site.config";

const title = "404 | Page Not Found";
const description = `Page doesn't exist on ${Astro.site ?? Astro.url}`;
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <!-- General Meta Tags -->
    <title>{title}</title>
    <meta name="title" content=`${title}` />
    <meta name="author" content=`${AUTHOR}` />
    <meta name="description" content={description} />
  </head>
  <body>
    <main>
      <h1>404</h1>
      <h2>oopsie :(</h2>

      <a href="/">Back to Home</a>
    </main>
  </body>
</html>

<style>
  * {
    box-sizing: border-box;
    margin: 0;
  }

  html {
    scrollbar-gutter: unset;
  }

  body {
    min-height: 100vh;
    margin-inline: auto;
    min-width: min(
      var(--content-width),
      100% - 2 * var(--content-padding-inline)
    );

    display: flex;
    flex-direction: column;

    & > main {
      flex-grow: 1;
    }
  }

  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  h1 {
    margin: 0;
    font-size: calc(2 * var(--font-size-fluid-2));
  }

  h2 {
    font-size: var(--font-size-fluid-2);
    color: var(--clr-text-secondary);
  }

  a {
    margin-top: 2rem;
    text-decoration: none;
    padding: 0.5rem 1rem;
    background-color: var(--clr-amber);
    color: var(--clr-background);
    font-size: var(--font-size-fluid-1);
    border-radius: 1px;
    text-transform: uppercase;
    font-weight: bold;

    &:is(:hover, :focus-within) {
      background-color: lch(from var(--clr-amber) calc(l + 5) c h);
    }
  }
</style>
