---
import { getCollection, render } from "astro:content";

import Footer from "@/components/Footer.astro";
import Header from "@/components/Header.astro";
import ProjectComments from "@/components/ProjectComments.astro";
import Layout from "@/layouts/Layout.astro";
import { AUTHOR } from "@/site.config";
import { slugify } from "@/utils/slug";
import ProjectInfoLine from "./_components/ProjectInfoLine.astro";
import ProjectStack from "./_components/ProjectStack.astro";
import ProjectTags from "./_components/ProjectTags.astro";

export async function getStaticPaths() {
  const projects = await getCollection("project");
  return projects.map((project) => ({
    params: { slug: slugify(project.slug) },
    props: { project },
  }));
}

const { project } = Astro.props;
const { Content } = await render(project);

const title = `${project.data.title} | ${AUTHOR}`;
const description = project.data.description;
---

<Layout title={title} description={description}>
  <Header back>{project.data.title}</Header>
  <main>
    <ProjectInfoLine project={project} />
    {
      project.data.stack.length > 0 && (
        <ProjectStack stack={project.data.stack} />
      )
    }

    <section class="content">
      <Content />
    </section>
  </main>
  <Footer>
    <div class="tags">
      {project.data.tags.length > 0 && <ProjectTags tags={project.data.tags} />}
    </div>
    <hr />
    <ProjectComments class="comments" />
  </Footer>
</Layout>

<style>
  main {
    padding-bottom: 1rem;
  }

  .content {
    margin-block: 1rem;

    * + * {
      margin-block-start: 1rem;
    }

    video {
      --video-margin-block: 1.2rem;
      margin-top: var(--video-margin-block);
      margin-bottom: calc(var(--video-margin-block) - 1px);
      border: 1px dashed var(--clr-text-subdued);
      padding: 0.675rem;
    }
  }

  .tags {
    margin-bottom: 1rem;
  }

  .comments {
    margin-block: 1rem;
  }
</style>
