---
import Header from "@/components/Header.astro";
import Layout from "@/layouts/Layout.astro";
import { slugify } from "@/utils/slug";
import { getCollection, render } from "astro:content";
import Footer from "./_components/Footer.astro";

import ProjectInfoLine from "./_components/ProjectInfoLine.astro";
import ProjectStack from "./_components/ProjectStack.astro";
import { AUTHOR } from "@/site.config";

export async function getStaticPaths() {
  const projects = await getCollection("project");
  return projects.map((project) => ({
    params: { slug: slugify(project.slug) },
    props: { project },
  }));
}

const { project } = Astro.props;
const { Content } = await render(project);

const title = `${project.data.title} | ${AUTHOR}`;
const description = project.data.description;
---

<Layout title={title} description={description}>
  <Header backUrl="/#projects">{project.data.title}</Header>
  <main>
    <ProjectInfoLine project={project} />
    {project.data.stack && <ProjectStack stack={project.data.stack} />}

    <div class="markdown">
      <Content />
    </div>
  </main>
  <Footer />
</Layout>

<style>
  .markdown {
    margin-block: 1rem;

    * + * {
      margin-block-start: 1rem;
    }

    video {
      --video-margin-block: 1.2rem;
      display: block;
      margin-top: var(--video-margin-block);
      margin-bottom: calc(var(--video-margin-block) - 1px);
      border: 1px dashed var(--clr-text-subdued);
      padding: 0.675rem;
    }
  }
</style>
